.requests-list{
    list-style: none;
    margin: 1rem;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.noreq-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    padding: 2rem;
}
.noreq-img{
    height: 200px;
    margin-bottom: 1rem;
}
.noreq{
    color: orange;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}

@media (max-width: 576px){
    .noreq-img{
        height: 120px;
    }
    .noreq{
        font-size: 1rem;
    }
}